@import "../home/home.css";

table{
    margin: 30px auto;
    font-size: 30px;
    padding: 30px;

}

td{
    padding: 30px;
    border: #28b2b2 2px solid;
}

button{
    margin: auto;
    font-size: 30px;
}
